apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- discord-bot-v3/deployment-bot.yaml
- discord-bot-v3/deployment-web.yaml
- discord-bot-v3/ingress.yaml
- discord-bot-v3/certificate.yaml
- discord-bot-v3/service.yaml
- discord-bot-v3/configmap.yaml
- google-workspace/deployment.yaml
- api/deployment.yaml
- api/service.yaml
- api/ingress.yaml
- api/certificate.yaml
- api/configmap.yaml
- api/worker.yaml
- www/deployment.yaml
- www/service.yaml
- www/ingress.yaml
- www/certificate.yaml
- www/worker.yaml
- api/deployment-queue.yaml
- api/service-queue.yaml
- forums/pvc.yaml
- forums/deployment.yaml
- forums/service.yaml
- forums/ingress.yaml
- forums/certificate.yaml
images:
- name: vatusa/api
  newName: vatusa/api
  newTag: 0dfde1c6900de03580acd03d8009c0771c1a7839
- name: vatusa/discord-bot-v3
  newName: vatusa/discord-bot-v3
  newTag: 1.1.17
- name: vatusa/forums
  newName: vatusa/forums
  newTag: 5b16e0884e1cd85b1b7e9f3e0a59fb3a8664405e
- name: vatusa/google-workspace-integration
  newName: vatusa/google-workspace-integration
  newTag: 1.1.35
- name: vatusa/www
  newName: vatusa/www
  newTag: adec046ee05726d648e8d8d0b6b9408603f4189c
