rabbitmq:
  auth:
    username: admin
    existingPasswordSecret: passwords
  primary:
    resources:
      requests:
        memory: 1Gi
        cpu: 500m
      limits:
        memory: 1Gi
        cpu: 1000m
