global:
  security:
    allowInsecureImages: true
    
postgresql:
  image:
    registry: registry-1.docker.io
    repository: bitnamicharts/postgresql

  auth:
    username: canvas
    existingSecret: passwords
  primary:
    resources:
      requests:
        memory: 1Gi
        cpu: 1
      limits:
        memory: 1.5Gi
        cpu: 1500m
