apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 4
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      name: api
      labels:
        app: api
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - api
                topologyKey: kubernetes.io/hostname
      containers:
        - name: api
          image: vatusa/api
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 750m
              memory: 1Gi
            limits:
              cpu: 2
              memory: 2Gi
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: api-secrets
            - configMapRef:
                name: api-config
      restartPolicy: Always
